*, *::before,
*::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: rgb(31, 41, 55);
    color: rgb(249, 250, 248);
}
.container {
    text-align: center;
}
.main {
    font-size: 45px;
    padding: 3rem;
}
.player-score,.computer-score, .winner  {
    font-size: 25px;
    margin: 20px;
}
.btn-restart {
    background-color: rgb(255, 0, 0);
    padding: 5px;
    border-radius: 8px;
    border: 1px solid rgb(255, 0, 0);
    font-size: 20px;
}
.btn-restart:hover {
    background-color: rgb(200, 0, 0);
    border: 1px solid rgb(200, 0, 0);
}
.btn-restart:active {
    background: rgb(150, 0, 0);
    border: 1px solid rgb(150, 0, 0);
}